CONFIG_ESP_WS_CLIENT_SEPARATE_TX_LOCK=y
CONFIG_ESP_WS_CLIENT_TX_LOCK_TIMEOUT_MS=2000
CONFIG_ESP_PHY_MAX_WIFI_TX_POWER=20
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_160=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
# CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG is not set
CONFIG_KWS_SERVER_URI="ws://114.132.243.95:80/v1/kws/listen"
CONFIG_KWS_PRODUCT_ID="eagle"
CONFIG_VOICEPRINT_SERVER_URL="http://114.132.243.95:80"
CONFIG_VOICEPRINT_SPEAKER_ID="esp32-chest-owner-001"
CONFIG_VOICEPRINT_DISPLAY_NAME="ESP32 Chest Owner"
